
.selectCon {
    box-shadow: 0px 0px 2px 3px rgb(216 216 216);
    border-radius: 16px;
}

.selectDiv{
    border-radius: 10px;
    border: 1px solid #A7A7A7;
}

.select {
    width: 90%;
    padding: 14px 24px 14px 0;
    outline: none;
    border: none;
}

.readbtn {
    background-color: #421193;
    padding: 12px 24px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.input{
    outline: none;
    border: none;
    appearance: none;
    width: 90%;
}

.inputDiv{
    border: 1px solid black;
    padding: 9px 18px;
    border-radius: 10px;
    width: 20em;
}

.searchIcon{
    max-width: 12px;
    cursor: pointer;
}
