@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 224 71.4% 4.1%;

      --card: 0 0% 100%;
      --card-foreground: 224 71.4% 4.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;

      --primary: 220.9 39.3% 11%;
      --primary-foreground: 210 20% 98%;

      --secondary: 220 14.3% 95.9%;
      --secondary-foreground: 220.9 39.3% 11%;

      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;

      --accent: 220 14.3% 95.9%;
      --accent-foreground: 220.9 39.3% 11%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;

      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --ring: 224 71.4% 4.1%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 224 71.4% 4.1%;
      --foreground: 210 20% 98%;

      --card: 224 71.4% 4.1%;
      --card-foreground: 210 20% 98%;

      --popover: 224 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;

      --primary: 210 20% 98%;
      --primary-foreground: 220.9 39.3% 11%;

      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: 210 20% 98%;

      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;

      --accent: 215 27.9% 16.9%;
      --accent-foreground: 210 20% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;

      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --ring: 216 12.2% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  @import url("https://fonts.googleapis.com/css2?family=Metrophobic:wght@400&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap");
  body {
    margin: 0;
    line-height: normal;
  }
  :root {
    /* fonts */
    --font-montserrat: Montserrat;
    --font-arial: Arial;
    --font-metrophobic: Metrophobic;
  
    /* font sizes */
    --font-size-base: 16px;
    --font-size-mini: 15px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-13xl: 32px;
    --font-size-7xl: 26px;
    --font-size-xl: 20px;
  
    /* Colors */
    --color-black: #000;
    --color-whitesmoke: #f2f4f7;
    --color-gray: #7c7c7c;
    --color-mediumslateblue: #635bff;
    --color-thistle: #c9c6ff;
    --color-darkgray: #a2a2a2;
    --color-oldlace: #fdf2e0;
  
    /* Gaps */
    --gap-base: 16px;
    --gap-10xl-9: 29.9px;
    --gap-xs-5: 11.5px;
  
    /* Paddings */
    --padding-46xl: 65px;
    --padding-xl: 20px;
    --padding-base: 16px;
    --padding-mini: 15px;
    --padding-6xl: 25px;
    --padding-mid: 17px;
    --padding-xs: 12px;
    --padding-sm: 14px;
    --padding-2xs: 11px;
    --padding-9xs: 4px;
    --padding-12xs: 1px;
    --padding-16xl: 35px;
  
    /* Border radiuses */
    --br-5xs: 8px;
  }
  

*::selection {
  display: none;
}